body{
		background-color:#AAAAAA;
		
	}

	.TopBox {
	background-color:#CCCCCC;
	position: relative;
	border-style:solid;
    top: 0;
    left: 20;
    width: 960px;
    height: 70px;
	}

	.BlackBox {
	background-color:#000;
	border-style:solid;
	position: relative;
    top: 0;
    left: 20;
    width: 960px;
    height: 50px;
	}

	.WhiteBox {
	position: relative;
	background-color:#FCFCFC;
	border-style:solid;
    top: 0;
    left: 20;
    width: 960px;
    height: 200px;
	}
	.LightGrayBox {
	background-color:#F0F0F0;
	border-style:solid;
	position: relative;
    top: 0;
    left: 20;
    width: 960px;
    height: 45px;
	}
	
	.Container1 {
	background-color:#CCCCCC;
	border-style:solid;
	position: absolute;
    top: 235;
    left: 810;
    width: 170px;
    height: 100px;
	}
	.Container2 {
	background-color:#F0F0FF;
	border-style:solid;
	position: absolute;
    top: 145;
    left: 640;
    width: 340px;
    height: 80px;
	}
	.Container3 {
	background-color:#FFFFFF;
	border-style:solid;
	position: absolute;
    top: 235;
    left: 240;
    width: 200px;
    height: 70px;
	}
	.Container4 {
	background-color:#FFFFFF;
	position: absolute;
	border-style:solid;
    top: 190;
    left: 240;
    width: 150px;
    height: 20px;
	}

	.Sidebox {
	background-color:#CCCCCC;
	position: absolute;
	border-style:solid;
    top: 235;
    left: 440;
    width: 10px;
    height: 70px;	}

	h1{
		color:#000; 
		position: relative;
		font-family:arial; 
		font-weight:normal;
		
	}
	h2{
		color:#000; 
		position: relative;
		font-family:arial; 
		font-weight:normal;
	}
	h3{}
	h4{}
	h5{}
	h6{}