body{
		background-color:#AAAAAA;
		
		
	}

	.TopBox {
	background-color:#CCCCCC;
	position: relative;
    top: 0;
    left: 20;
    width: 960px;
    height: 70px;
	}

	.BlackBox {
	background-color:#000;
	position: relative;
    top: 0;
    left: 20;
    width: 960px;
    height: 50px;
	}

	.WhiteBox {
	position: relative;
	background-color:#FFF;
    top: 0;
    left: 20;
    width: 960px;
    height: 200px;
	}
	.LightGrayBox {
	background-color:#F0F0F0;
	position: relative;
    top: 0;
    left: 20;
    width: 960px;
    height: 45px;
	}
	
	h1{
		color:#000; 
		font-family:arial; 
		font-weight:normal;
		
	}
h2{
		color:FF0000;
		font-family:arial;
		font-weight:normal;

	}