<!DOCTYPE html>
<html>
<head>
<title>Project 4</title>
<link rel="stylesheet" type="text/css" href="list.css">
</head>
<body>
  <h1>Project 4: Top 100 Songs Ranking System</h1>

  <%= yield %>
  
  </body>
</html>